{% extends "base_mobile.html" %}
{% load static %}

{% block meta %}
    <title>{{ obj.title }}</title>
    <meta name="description" content="{{ obj.meta_d }}">
{% endblock %}


{% block content %}
  <div class="slide1 double__block">
    <div class="uk-container">
      <div class="container-inner">
        <h1>{{ obj.h1 }}</h1>
        <p class="maintext">Заказывая натяжные потолки у нас, вы доверяете дело профессионалам. Наши специалисты уже который год выполняют свою работу экспертно, качественно и с гарантией.</p>
        <a href="#feedback" class="uk-flex uk-flex-center" uk-scroll><button class="mainbutton">Заказать звонок</button></a>
        <a href="#calculator" class="uk-flex uk-flex-center" uk-scroll><button class="mainbutton mainbutton--gray">Калькулятор</button></a>
        <p class="maintext">или позвонить по телефону: <br/> <a href="tel:{{ CONTACTS.PHONE.0 }}">{{ CONTACTS.PHONE.1 }}</a>, &nbsp;<a href="tel:{{ CONTACTS.MOBILE.0 }}"> {{ CONTACTS.MOBILE.1 }} </a> </p>
      </div>
    </div>

    <div class="uk-container container-actions">
        <div class="container-inner">
          <div class="img" style="background-image:url({% static 'pages/images/2.jpg' %});"></div>
          <div class="h1">Новоселам</div>
          <p>Уважаемые клиенты! Наша компания предоставляет скидку новосёлам в размере <b>10%</b> на все полотна. Акция действует постоянно!</p>
      </div>
    </div>

    <div class="uk-container">
        <div class="h2" id="services">Наши услуги</div>
        <div class="uk-flex uk-flex-center">
            <p class="subtitle">Наша компания предоставляет широкий спектр натяжных потолков. Матовые, тканевые, пвх и другие виды натяжных потолков вы можете найти в нашем обширном каталоге</p>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1 services">
                <div class="item">
                    <a href="https://room-potolok.ru/matovye-natyazhnye-potolki/"><img src="{% static 'pages/images/roof-01.jpg' %}"/></a>
                    <div class="uk-flex uk-flex-column">
                        <div class="item-h4"> <a href="https://room-potolok.ru/matovye-natyazhnye-potolki/">Матовые натяжные потолки</a> </div>
                        <p>Такая фактура натяжного потолка, имитирующая окрашенную штукатурку. Натяжной потолок с матовой фактурой это оптимальное решение для классического дизайна интерьера обладающего особой элегантностью.</p>
                    </div>
                </div>
                <div class="item">
                    <a href="https://room-potolok.ru/tkanevye-natyazhnye-potolki/"><img src="{% static 'pages/images/roof-02.jpg' %}"/></a>
                    <div class="uk-flex uk-flex-column">
                        <div class="item-h4"> <a href="https://room-potolok.ru/tkanevye-natyazhnye-potolki/">Тканевые натяжные потолки</a> </div>
                        <p>Как понятно из названия, используемое в таких конструкциях полотно выполнено из тканевого материала. Благодаря чему, они имеют шероховатую фактуру и способны создать более уютную атмосферу в помещении.</p>
                    </div>
                </div>
                <div class="item">
                    <a href="https://room-potolok.ru/satinovye-natyazhnye-potolki/"><img src="{% static 'pages/images/roof-03.jpg' %}"/></a>
                    <div class="uk-flex uk-flex-column uk-flex-wrap-bottom">
                        <div class="item-h4"> <a href="https://room-potolok.ru/satinovye-natyazhnye-potolki/">Сатиновые натяжные потолки</a> </div>
                        <p>Такая текстура натяжных потолков подойдет для тех помещений, где важна спокойная атмосфера и гармония.</p>
                    </div>
                </div>
                <div class="item">
                    <a href="https://room-potolok.ru/glyancevye-natyazhnye-potolki/"><img src="{% static 'pages/images/roof-04.jpg' %}"/></a>
                    <div class="uk-flex uk-flex-column">
                        <div class="item-h4"> <a href="https://room-potolok.ru/glyancevye-natyazhnye-potolki/">Глянцевые натяжные потолки</a> </div>
                        <p>Благодаря дополнительному освещению, на основе такого потолка можно создать различные уникальные решения.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

    <div class="uk-container prices">
      <div class="h2">Лучшие предложения!</div>

      <div class="uk-grid">
      <div class="uk-width-1-1">
      <div class="uk-height-medium uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-background-cover uk-light prices-block" data-src="/static/pages/images/prices_1.jpg" data-srcset="/static/pages/images/prices_1.jpg" uk-img="">
      <div class="mask">&nbsp;</div>

      <div align="center" class="prices-block__title">Двухуровневый натяжной потолок</div>

      <p align="center" class="prices-block__description">от 2000 р / м.п.</p>
      <button class="prices-block__button uk-button" type="button" uk-toggle="target: #feedback-modal-type3">Заказать</button></div>
      </div>

      <div class="uk-width-1-1 uk-margin">
      <div class="uk-height-medium uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-background-cover uk-light prices-block" data-src="/static/pages/images/prices_2.jpg" data-srcset="/static/pages/images/prices_2.jpg" uk-img="">
      <div class="mask">&nbsp;</div>

      <div align="center" class="prices-block__title">Двухуровневый натяжной потолок с подсветкой</div>

      <p align="center" class="prices-block__description">от 2200 р / м.п.</p>
      <button class="prices-block__button uk-button" type="button" uk-toggle="target: #feedback-modal-type3">Заказать</button></div>
      </div>

      <div class="uk-width-1-1">
      <div class="uk-height-medium uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-background-cover uk-light prices-block" data-src="/static/pages/images/prices_3.jpg" data-srcset="/static/pages/images/prices_3.jpg" uk-img="">
      <div class="mask">&nbsp;</div>

      <div align="center" class="prices-block__title">Светопропускающий натяжной потолок</div>

      <p align="center" class="prices-block__description">от 520р / м2</p>
      <button class="prices-block__button uk-button" type="button" uk-toggle="target: #feedback-modal-type3">Заказать</button></div>
      </div>
      </div>
    </div>
    

    <div class="uk-container prices">
      <div class="h2">Цены на натяжные потолки</div>
      <div class="h3">Потолки ПВХ (установка с нагревом)</div>

      <div class="uk-overflow-auto">
      <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
          <tr>
            <td rowspan="2">Производитель</td>
            <td rowspan="2">Ширина</td>
            <td rowspan="2">Фактура (белая/цветная)</td>
            <td colspan="4">м2 (совокупный объем помещений)</td>
          </tr>
          <tr>
            <td>до 20</td>
            <td>до 40</td>
            <td>до 80</td>
            <td>от 80</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Россия (Казань)</td>
            <td>1,5</td>
            <td>матовая (белая)</td>
            <td>390</td>
            <td>350</td>
            <td>300</td>
            <td>260</td>
          </tr>
          <tr>
            <td rowspan="2">Poli Plast (Бельгия)</td>
            <td rowspan="2">1,5/2,0/ 2,7/3,2</td>
            <td>матовая сатиновая</td>
            <td>500</td>
            <td>450</td>
            <td>400</td>
            <td>380</td>
          </tr>
          <tr>
            <td>лаковая</td>
            <td>500</td>
            <td>450</td>
            <td>400</td>
            <td>380</td>
          </tr>
          <tr>
            <td rowspan="2">Mattfolie/Lackfolie (Германия)</td>
            <td rowspan="2">1,5/2,0/ 2,7/3,2</td>
            <td>матовая сатиновая</td>
            <td>550</td>
            <td>500</td>
            <td>470</td>
            <td>440</td>
          </tr>
          <tr>
            <td>лаковая</td>
            <td>570</td>
            <td>520</td>
            <td>490</td>
            <td>460</td>
          </tr>
          <tr>
            <td rowspan="2">G-Line (Китай)</td>
            <td rowspan="2">4,0/5,0</td>
            <td>матовая сатиновая</td>
            <td>550</td>
            <td>500</td>
            <td>470</td>
            <td>440</td>
          </tr>
          <tr>
            <td>лаковая</td>
            <td>570</td>
            <td>520</td>
            <td>490</td>
            <td>460</td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class="h3">Тканевые потолки Descor (установка без нагрева)</div>

      <div class="uk-overflow-auto">
      <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
          <tr>
            <td rowspan="2">Производитель</td>
            <td rowspan="2">Ширина</td>
            <td rowspan="2">Фактура (белая/цветная)</td>
            <td colspan="4">м2 (совокупный объем помещений)</td>
          </tr>
          <tr>
            <td>до 20</td>
            <td>до 40</td>
            <td>до 80</td>
            <td>от 80</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">Descor (Германия)</td>
            <td>3,1/4,1/5,1</td>
            <td>белый</td>
            <td>1000</td>
            <td>800</td>
            <td>700</td>
            <td>650</td>
          </tr>
          <tr>
            <td>5</td>
            <td>блестки, цветной, акустик</td>
            <td>1150</td>
            <td>1090</td>
            <td>1020</td>
            <td>1000</td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class="h3">Тканевые потолки Clipso (установка без нагрева)</div>

      <div class="uk-overflow-auto">
      <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
          <tr>
            <td rowspan="2">Производитель</td>
            <td rowspan="2">Ширина</td>
            <td rowspan="2">Фактура (белая/цветная)</td>
            <td colspan="4">м2 (совокупный объем помещений)</td>
          </tr>
          <tr>
            <td>до 20</td>
            <td>до 40</td>
            <td>до 80</td>
            <td>от 80</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">Clipso (Швейцария)</td>
            <td>До 5</td>
            <td>белый</td>
            <td>1150</td>
            <td>1100</td>
            <td>970</td>
            <td>950</td>
          </tr>
          <tr>
            <td>5</td>
            <td>цветной, блески, полупрозрачный, акустик</td>
            <td>1200</td>
            <td>1150</td>
            <td>1020</td>
            <td>1000</td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class="h3">Прайс на дополнительные работы:</div>

      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <td align="center">№</td>
            <td align="left">Наименование услуги</td>
            <td align="center">Ед. изм.</td>
            <td align="center">Цена руб.</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center">1</td>
            <td align="left">Монтаж профиля</td>
            <td align="center">м.п.</td>
            <td align="center">100</td>
          </tr>
          <tr>
            <td align="center">2</td>
            <td align="left">Монтаж профиля для парящих потолков</td>
            <td align="center">м.п.</td>
            <td align="center">400</td>
          </tr>
          <tr>
            <td align="center">3</td>
            <td align="left">Монтаж разделительного профиля с установкой бруса</td>
            <td align="center">м.п.</td>
            <td align="center">500</td>
          </tr>
          <tr>
            <td align="center">4</td>
            <td align="left">Сложный монтаж профиля на плитку/керамогранит</td>
            <td align="center">м.п.</td>
            <td align="center">150/250</td>
          </tr>
          <tr>
            <td align="center">5</td>
            <td align="left">Установка конструкции для потолочной люстры</td>
            <td align="center">шт.</td>
            <td align="center">400</td>
          </tr>
          <tr>
            <td align="center">6</td>
            <td align="left">Отверстие для люстры</td>
            <td align="center">шт.</td>
            <td align="center">120</td>
          </tr>
          <tr>
            <td align="center">7</td>
            <td align="left">Установка крючка для люстры</td>
            <td align="center">шт.</td>
            <td align="center">120</td>
          </tr>
          <tr>
            <td align="center">8</td>
            <td align="left">Установка люстры (обговаривается с монтажной бригадой)</td>
            <td align="center">шт.</td>
            <td align="center">От 500</td>
          </tr>
          <tr>
            <td align="center">9</td>
            <td align="left">Установка точечного светильника с конструкцией</td>
            <td align="center">шт.</td>
            <td align="center">300</td>
          </tr>
          <tr>
            <td align="center" height="20">10</td>
            <td align="left">Распределение проводов для освещения</td>
            <td align="center">за точку</td>
            <td align="center">80</td>
          </tr>
          <tr>
            <td align="center" height="20">11</td>
            <td align="left">Разметка мест установки точечных светильников</td>
            <td align="center">за точку</td>
            <td align="center">100</td>
          </tr>
          <tr>
            <td align="center" height="20">12</td>
            <td align="left">Установка трансформатора (защита ламп)</td>
            <td align="center">шт.</td>
            <td align="center">210</td>
          </tr>
          <tr>
            <td align="center" height="20">13</td>
            <td align="left">Монтаж и подключение диодной ленты</td>
            <td align="center">м.п.</td>
            <td align="center">200</td>
          </tr>
          <tr>
            <td align="center" height="20">14</td>
            <td align="left">Установка конструкции для вентиляционной решётки</td>
            <td align="center">шт.</td>
            <td align="center">500</td>
          </tr>
          <tr>
            <td align="center" height="20">15</td>
            <td align="left">Установка вентиляционной решётки</td>
            <td align="center">шт.</td>
            <td align="center">250</td>
          </tr>
          <tr>
            <td align="center" height="20">16</td>
            <td align="left">Установка датчика пожарной сигнализации</td>
            <td align="center">шт.</td>
            <td align="center">300</td>
          </tr>
          <tr>
            <td align="center" height="20">17</td>
            <td align="left">Крепление для потолочного карниза</td>
            <td align="center">шт.</td>
            <td align="center">300</td>
          </tr>
          <tr>
            <td align="center" height="20">18</td>
            <td align="left">Установка потолочного карниза (обговаривается с монтажной бригадой)</td>
            <td align="center">шт.</td>
            <td align="center">от 500</td>
          </tr>
          <tr>
            <td align="center" height="20">19</td>
            <td align="left">Обход кондиционера (расстояние менее 20 см.)</td>
            <td align="center">шт.</td>
            <td align="center">500</td>
          </tr>
          <tr>
            <td align="center" height="20">20</td>
            <td align="left">Обход трубы</td>
            <td align="center">шт.</td>
            <td align="center">200</td>
          </tr>
          <tr>
            <td align="center" height="20">21</td>
            <td align="left">Дополнительные углы (больше четырёх)</td>
            <td align="center">шт.</td>
            <td align="center">140</td>
          </tr>
          <tr>
            <td align="center" height="20">22</td>
            <td align="left">Монтаж деревянного бруса</td>
            <td align="center">м.п.</td>
            <td align="center">300</td>
          </tr>
          <tr>
            <td align="center" height="20">23</td>
            <td align="left">Монтаж в труднодоступных местах</td>
            <td align="center">м.п.</td>
            <td align="center">210</td>
          </tr>
          <tr>
            <td align="center" height="20">24</td>
            <td align="left">Прямолинейный переход на другой уровень</td>
            <td align="center">м.п.</td>
            <td align="center">1700</td>
          </tr>
          <tr>
            <td align="center" height="20">25</td>
            <td align="left">Криволинейный переход на другой уровень</td>
            <td align="center">м.п.</td>
            <td align="center">2100</td>
          </tr>
          <tr>
            <td align="center" height="20">26</td>
            <td align="left">Криволинейность</td>
            <td align="center">м.п.</td>
            <td align="center">600</td>
          </tr>
          <tr>
            <td align="center" height="20">27</td>
            <td align="left">Внутренний вырез</td>
            <td align="center">м.п.</td>
            <td align="center">350</td>
          </tr>
          <tr>
            <td align="center" height="20">28</td>
            <td align="left">Маскировочная лента белая</td>
            <td align="center">м.п.</td>
            <td align="center">60</td>
          </tr>
          <tr>
            <td align="center" height="20">29</td>
            <td align="left">Маскировочная лента в цвет потолка</td>
            <td align="center">м.п.</td>
            <td align="center">200</td>
          </tr>
          <tr>
            <td align="center" height="20">30</td>
            <td align="left">Прямолинейная спайка разных цветов, % к стоимости потолка</td>
            <td align="center">%</td>
            <td align="center">10</td>
          </tr>
          <tr>
            <td align="center" height="20">21</td>
            <td align="left">Центровка или заданное расположение шва, % к стоимости потолка</td>
            <td align="center">%</td>
            <td align="center">12</td>
          </tr>
          <tr>
            <td align="center" height="20">32</td>
            <td align="left">Фотопечать Descor/Clipso</td>
            <td align="center">кв.м.</td>
            <td align="center">1300-1600</td>
          </tr>
          <tr>
            <td align="center" height="20">33</td>
            <td align="left">Фотопечать ПВХ</td>
            <td align="center">кв.м.</td>
            <td align="center">1500-2000</td>
          </tr>
          <tr>
            <td align="center" height="20">34</td>
            <td align="left">Демонтаж-монтаж потолка</td>
            <td align="center">руб.</td>
            <td align="center">3000</td>
          </tr>
          <tr>
            <td align="center" height="20">35</td>
            <td align="left">Защитная плёнка</td>
            <td align="center">м.п.</td>
            <td align="center">40</td>
          </tr>
          <tr>
            <td align="center" height="20">36</td>
            <td align="left">Подъём оборудования без лифта</td>
            <td align="center">за этаж</td>
            <td align="center">80</td>
          </tr>
          <tr>
            <td align="center" height="20">37</td>
            <td align="left">Работа с пылесосом</td>
            <td align="center">м.п.</td>
            <td align="center">80</td>
          </tr>
          <tr>
            <td align="center" height="20">38</td>
            <td align="left">Аварийный выезд бригады монтажников</td>
            <td align="center">-</td>
            <td align="center">2000</td>
          </tr>
          <tr>
            <td align="center" height="20">39</td>
            <td align="left">Наценка за помещение менее 6 м2</td>
            <td align="center">-</td>
            <td align="center">1200</td>
          </tr>
          <tr>
            <td align="center" height="20">40</td>
            <td align="left">Наценка за высоту свыше 3 м./ 5 м.</td>
            <td align="center">м.п</td>
            <td align="center">200/300</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="slide3 uk-margin-large-top">
        <div class="uk-container">
        <div class="h2">Наши преимущества</div>

        <div class="uk-child-width-1-2 uk-grid advantage">
        <div class="uk-margin-bottom">
        <div class="uk-flex uk-flex-center svg__child"><svg><use xlink:href="/static/pages/images/sprite.svg#quality"></use></svg></div>

        <div class="uk-flex uk-flex-center">
        <div class="advantage-h5">Собственное производство</div>
        </div>
        </div>

        <div class="uk-margin-bottom">
        <div class="uk-flex uk-flex-center svg__child"><svg><use xlink:href="/static/pages/images/sprite.svg#world"></use></svg></div>

        <div class="uk-flex uk-flex-center">
        <div class="advantage-h5">Современные технологии</div>
        </div>
        </div>

        <div class="uk-margin-bottom">
        <div class="uk-flex uk-flex-center svg__child"><svg><use xlink:href="/static/pages/images/sprite.svg#like"></use></svg></div>

        <div class="uk-flex uk-flex-center">
        <div class="advantage-h5">Качество продукции</div>
        </div>
        </div>

        <div class="uk-margin-bottom">
        <div class="uk-flex uk-flex-center svg__child"><svg><use xlink:href="/static/pages/images/sprite.svg#firewall"></use></svg></div>

        <div class="uk-flex uk-flex-center">
        <div class="advantage-h5">Гарантийный срок</div>
        </div>
        </div>

        <div class="uk-margin-bottom">
        <div class="uk-flex uk-flex-center svg__child"><svg><use xlink:href="/static/pages/images/sprite.svg#calendar"></use></svg></div>

        <div class="uk-flex uk-flex-center">
        <div class="advantage-h5">Работаем без выходных</div>
        </div>
        </div>

        <div class="uk-margin-bottom">
        <div class="uk-flex uk-flex-center svg__child"><svg><use xlink:href="/static/pages/images/sprite.svg#settings"></use></svg></div>

        <div class="uk-flex uk-flex-center uk-margin-large-bottom">
        <div class="advantage-h5">Множество доп. услуг</div>
        </div>
        </div>
        </div>
        </div>
    </div>

    <div class="map" style="margin-top: 40px;">
        {% autoescape off %}
            {{ obj.ymap }}
        {% endautoescape %}
    </div>

    {% if obj.text %}
      <div class="uk-container subdomain__content">
        {% autoescape off %}
          {{ obj.text }}
        {% endautoescape %}
      </div>
    {% endif %}


    <div class="slide6">
        <div class="uk-container">
            <div class="h2">Мы вам перезвоним!</div>
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <form class="feedback" id="feedback">
                        <div class="uk-margin"> <input name="name" type="text" class="uk-input" placeholder="Введите ФИО" required /> </div>
                        <div class="uk-margin"> <input name="phone" type="text" class="uk-input" placeholder="Ваш телефон" required /> </div>
                        <div class="uk-margin"> <input name="email" type="text" class="uk-input" placeholder="Электронная почта"/> </div>
                        <div class="uk-margin"> <textarea name="comment" class="uk-textarea" placeholder="Комментарий"></textarea> </div>
                        <p class="feedback__modal__subtitle-white">* вводя свои персональные данные вы соглашаетесь с <a href="https://room-potolok.ru/policy/">политикой конфиденциальности</a> установленной на нашем портале.</p>
                        <div class="uk-margin"> <button class="uk-button">Отправить</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
