*.elc
*.pyc
*.swp
*.swo
*.xls
*.pid
*.aux
*.log
*.pdf
*.orig
*.vim
*.lock
*.po
*.mo
*.sql
.idea/*
.DB_Store
.DS_Store
celerybeat-schedule
links.txt
media/*
static/*
www/*
node_modules/*
.ropeproject*
.sass-cache*
build/*
sizex/custom_settings.py
